[".local/bin/age"]
    type = "archive-file"
    url = "https://dl.filippo.io/age/latest?for={{ .chezmoi.os }}/{{ .chezmoi.arch }}"
    path = "age/age"
[".config/nvim"]
    type = "git-repo"
    url = "git@github.com:kbuley/nvim-config.git"
    refreshPeriod = "168h"
