# -*- mode: gitconfig; -*-
# vim: set filetype=gitconfig:
[user]
  name = Kevin Buley
  email = kevin@buley.org
  signingkey = CF5F5B82D4650A0DDB77E311FB4DC0B804F9773D!
[core]
  editor = nvim
  trustctime = false
  filemode = false
  autocrlf = input
  repositoryformatversion = 0
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true
  pager = less -F
  abbrev = 8
  quotePath = false
  untrackedCache = true
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[push]
  default = current
  autoSetupRemote = true
  followTags = true
  useForceIfIncludes = true
[credential]
  helper = cache --timeout=3600
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  # template = $XDG_CONFIG_HOME/git/git-commit-template
  cleanup = strip
  gpgsign = true
[diff]
  colorMoved = zebra
  algorithm = histogram
  indentHeuristic = true
  mnemonicPrefix = true
  rename = copies
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[difftool "nvim"]
  cmd = nvim -d "$LOCAL" "$REMOTE"
[difftool "difft"]
  cmd = difft --display side-by-side-show-both "$LOCAL" "$REMOTE"
[merge]
  ff = only
  tool = nvim
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvim"]
  #cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
  #cmd = nvim -d -c "wincmd l" "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
  cmd = nvim -d -c '4wincmd w | wincmd J' "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
  prompt = false
  keepBackup = false
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[gpg]
{{ if eq .chezmoi.os "darwin" -}}
{{  `  program = /usr/local/MacGPG2/bin/gpg2` }}
{{ else -}}
{{  `  program = gpg` }}
{{ end -}}
[fetch]
  verbose = full
  tags = true
  prune = true
  pruneTags = true
  writeCommitGraph = true
[pull]
  rebase = merges
[init]
  defaultBranch = main
[branch]
  autosetuprebase = always
  sort = -committerdate
[http]
  sslVerify = true
[log]
  abbrevcommit = yes
[safe]
  directory = /workspace
[rebase]
  autostash = true
  autoSquash = true
  updateRefs = true
[color "branch"]
  current = yellow
  remote = green
  local = yellow
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[grep]
  column = true
  fullName = true
  lineNumber = true
[notes]
  rewriteRef = refs/notes/commits
[notes "rewrite"]
  amend = true
  rebase = true
[rerere]
  autoUpdate = true
  enabled = true
[revert]
  reference = true
[status]
  showUntrackedFiles = all
[tag]
  # gpgSign = true
  sort = -version:refname
[transfer]
  fsckObjects = true
[url "https://github.com/"]
  insteadOf = gh
[fetch "fsck"]
  zeroPaddedFilemode = warn
[maintenance]
  auto = true
  strategy = incremental
[include]
  path = alias
[advice]
  setUpstreamFailure = false
[alias]
  pr = "!f() { exec az repos pr \"$@\"; }; f"
  repo = "!f() { exec az repos \"$@\"; }; f"

